body {

    background-color: #000000;
  }
  .jumbotron {
    background-image: url("bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: #f7f7f7;
  }
  .well {
    background-color: #7FFF00;
  }